<!-- Content Heading Section -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/')} %>

<!-- Message Block (currently disabled) -->
<%# messages() %>

<!-- Inventory Items Display -->
<%- grid %>